{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<!DOCTYPE html>
<html>
<head>
	<title>menu</title>
	<style type="text/css">
		#header{
			width: all;
			height: 50px;
			left:50%;
		}
		h1{
			width: 300px;

		}
		#body{
			width: all;
			height: 900px;
		}
		.b{
			width: 24.5%;
			border-radius: 4px;

		}
	</style>
</head>
<body>
	<div id="header">
		<h1>菜品信息</h1>
	</div>
	<hr style="size: all;height: 5px;color: gray; border-bottom: none;border-left: none;border-right: none;">
	<div id="body">
		<a href="http://127.0.0.1:8000/ProductList/1/"><button class="b">菜品1</button></a>
		<a href="http://127.0.0.1:8000/ProductList/2/"><button class="b">菜品2</button></a>
		<a href="http://127.0.0.1:8000/ProductList/3/"><button class="b">菜品3</button></a>
		<a href="http://127.0.0.1:8000/ProductList/4/"><button class="b">菜品4</button></a>
</div>
</body>
</html>>