<!DOCTYPE html>
<html>
<head>
	<title>menu</title>
	<style type="text/css">
		#header{
			width: all;
			height: 50px;
			left:50%;
		}
		h1{
			width: 300px;

		}
		#body{
			width: all;
			height: 900px;
		}
		.b{
			width: 24.5%;
			border-radius: 4px;

		}
	</style>
</head>
<body>
	<div id="header">
		<h1>图表分析</h1>
	</div>
	<hr style="size: all;height: 5px;color: gray; border-bottom: none;border-left: none;border-right: none;">
	<div id="body">
		<a href="http://127.0.0.1:8000/chart/1/"><button class="b">本月销售情况</button></a>
		<a href="http://127.0.0.1:8000/chart/2/"><button class="b">菜品销售占比</button></a>
		<a href="http://127.0.0.1:8000/chart/3/"><button class="b">一周各天销售情况</button></a>
		<a href="http://127.0.0.1:8000/chart/4/"><button class="b">3D图样式</button></a>
</div>
</body>
</html>>